@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Chango&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  
}

/*--------------------------- Nav bar ------------------------------------*/

.homepage{
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #F5EDEC;
  margin-top:61px;
  overflow-y:scroll
}

.navbar{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  background: white;
  justify-content: center;
  position: fixed;
  top: 0;
  
  
}

.navlist{
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: white;
}

.navlist a{
  background: white;
  color: #1B0238;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: none;
}

.navlist a:hover{
  background: white;
  color: #F5890D;
}

html{
  scroll-behavior: smooth;
}


/*--------------------------- Nav bar ------------------------------------*/

/*--------------------------- top-h ------------------------------------*/
.top-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
}

.main-logo{ 
  margin-left: 50px;
  max-width: 150px;
}

.logo{
  max-width: 428px;
  
}

.dots{
  max-width: 112px;
  margin-right: 50px;
}

/*--------------------------- middle-h ------------------------------------*/

.middle-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background: #F5EDEC; 
  margin-top: 100px;

}

.title-h{
  color: #EA512E;
  text-align: center;
  font-family: 'Catamaran';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.5px; /* 88.542% */
  text-transform: capitalize;
  max-width: 650px;
  padding: 5px;
}




/*--------------------------- bottom-h ------------------------------------*/


.bottom-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
  margin-top: 36px;
}

.subject-circle{
  margin-left: 70px;
  max-width: 299px;
}

.description-h{
  max-width: 650px;
  color: #000;
  text-align: justify;
  font-family: 'Merriweather';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  padding: 0 30px 0; 
}

.kids-b{
  margin-right: 50px;
  max-width:301px;
}


/*--------------------------- last-h ------------------------------------*/


.last-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
  margin-top: 80px;
}

.kids-h{
  margin-left: 50px;
  max-width: 185px;
}

.owl-h{
  margin-right: 50px;
  max-width: 100px;
}




@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES HERE */


  /*--------------------------- Nav bar ------------------------------------*/


  .homepage{
    margin-top: 61px;
    background: #F5EDEC;
    padding-top: 0px;
  }
  .navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    background: white;
    justify-content: center;
    position: fixed;
  }
  .navlist{
    display: flex;
    flex-direction: row;
    padding: 5 10 5px;
  }
  
  .navlist a{
    color: #1B0238;
    font-family: 'Roboto';
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    padding: 0 15px;
    text-decoration: none;
  }
  
  .navlist a:hover{
    color: #F5890D;
  }

  /*--------------------------- Nav bar ------------------------------------*/


  /*--------------------------- Top-h ------------------------------------*/
  .top-h{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 63px;
  }
  
  .main-logo{ 
    margin-left: 0;
    width: 80%;
  }
  
  .logo{
    width: 80%;
    
  }
  
  .dots{
    display: none;
  }

  
  /*--------------------------- Middle-h ------------------------------------*/


  .middle-h{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background: #F5EDEC; 
    margin-top: 50px;
  
  }
  
  .title-h{
    color: #EA512E;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 88.542% */
    text-transform: capitalize;
    max-width: 650px;
   
  }

   /*--------------------------- bottom-h ------------------------------------*/

   .bottom-h{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #F5EDEC; 
    margin-top: 40px;
  }
  
  .subject-circle{
    margin-top: 40px;
    margin-left: 0px;
    max-width: 299px;
    width: 60%;
  }
  
  .description-h{
    max-width: 650px;
    color: #000;
    text-align: justify;
    font-family: 'Merriweather';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding: 0 30px 0; 
  }
  
  .kids-b{
    display: none;
    margin-right: 50px;
    max-width:301px;
  }


   /*--------------------------- last-h ------------------------------------*/

  .last-h{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #F5EDEC; 
    margin-top: 80px;
  }
  
  .kids-h{
    margin-left: 30px;
    width: 35%;
    max-width: 185px;
  }
  
  .owl-h{
    margin-right: 30px;
    width: 20%;
    max-width: 100px;
  }

}



@media screen and (min-device-width: 481px) and (max-device-width: 767px) { 

  /*--------------------------- Nav bar ------------------------------------*/


  .homepage{
    margin-top: 61px;
    background: #F5EDEC; 
  }
  .navbar{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    background: white;
    justify-content: center;
    position: fixed;
    top: 0;
  }
  .navlist{
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 5 10 5px;
  }
  
  .navlist a{
    color: #1B0238;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    padding: 0 15px;
    text-decoration: none;
  }
  
  .navlist a:hover{
    color: #F5890D;
  }

  /*--------------------------- Nav bar ------------------------------------*/


  /*--------------------------- Top-h ------------------------------------*/
  .top-h{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-top: 63px;
  }
  
  .main-logo{ 
    margin-left: 0;
    width: 80%;
  }
  
  .logo{
    width: 80%;
    
  }
  
  .dots{
    display: none;
  }

  
  /*--------------------------- Middle-h ------------------------------------*/


  .middle-h{
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    background: #F5EDEC; 
    margin-top: 50px;
  
  }
  
  .title-h{
    color: #EA512E;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 88.542% */
    text-transform: capitalize;
    max-width: 650px;
   
  }

   /*--------------------------- bottom-h ------------------------------------*/

   .bottom-h{
    display: flex;
    flex-direction: column-reverse;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #F5EDEC; 
    margin-top: 40px;
  }
  
  .subject-circle{
    margin-top: 40px;
    margin-left: 0px;
    max-width: 299px;
    width: 60%;
  }
  
  .description-h{
    max-width: 650px;
    color: #000;
    text-align: justify;
    font-family: 'Merriweather';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    padding: 0 30px 0; 
  }
  
  .kids-b{
    display: none;
    margin-right: 50px;
    max-width:301px;
  }


   /*--------------------------- last-h ------------------------------------*/

  .last-h{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #F5EDEC; 
    margin-top: 80px;
  }
  
  .kids-h{
    margin-left: 30px;
    width: 35%;
    max-width: 185px;
  }
  
  .owl-h{
    margin-right: 30px;
    width: 20%;
    max-width: 100px;
  }
}


@media screen and (min-device-width: 768px) and (max-device-width: 1024px) { 

  .homepage{
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #F5EDEC;
}

.navbar{
  z-index: 999;
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  background: white;
  justify-content: center;
  position: fixed;
}

.navlist{
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: white;
}

.navlist a{
  background: white;
  color: #1B0238;
  font-family: 'Roboto';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  padding: 0 20px;
  text-decoration: none;
}

.navlist a:hover{
  background: white;
  color: #F5890D;
}

html{
  scroll-behavior: smooth;
}


/*--------------------------- Nav bar ------------------------------------*/

/*--------------------------- top-h ------------------------------------*/
.top-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
}

.main-logo{ 
  margin-left: 20px;
  max-width: 150px;
  
}

.logo{
  max-width: 428px;
  width: 50%;
  
}

.dots{
  max-width: 112px;
  margin-right: 20px;
  width: 20%;
}

/*--------------------------- middle-h ------------------------------------*/

.middle-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  background: #F5EDEC; 
  margin-top: 100px;

}

.title-h{
  color: #EA512E;
  text-align: center;
  font-family: 'Catamaran';
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.5px; /* 88.542% */
  text-transform: capitalize;
  max-width: 650px;
  padding: 5px;
}




/*--------------------------- bottom-h ------------------------------------*/


.bottom-h{
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
  margin-top: 36px;
}

.subject-circle{
  margin-left: 0px;
  max-width: 299px;
  margin-top: 50px;

}

.description-h{
  max-width: 650px;
  color: #000;
  text-align: justify;
  font-family: 'Merriweather';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  padding: 0 30px 0; 
}

.kids-b{
  margin-right: 0px;
  max-width:301px;
  display: none;
}


/*--------------------------- last-h ------------------------------------*/


.last-h{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: space-between;
  background: #F5EDEC; 
  margin-top: 80px;
}

.kids-h{
  margin-left: 50px;
  max-width: 185px;
}

.owl-h{
  margin-right: 50px;
  max-width: 100px;
}

}

  






