@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.t-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: #F5EDEC;
    overflow-y:scroll
    
}

.t-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.t-title{
    color: #EA512E;
    text-align: center;
    font-family: 'Chango';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 60.714% */
    text-transform: capitalize;
}

.co-founders{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.co-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.co-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
}

.co-founders span{
    color: #EA512E;
    text-align: center;
    font-family: 'Boogaloo';
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    padding: 1em;
}

.description-co span{
    color: #1B0238;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 170% */
    text-transform: capitalize;  
    
}


.description-co{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.teachers{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}


.teacher-1{
   
    display: flex;
    flex-direction: column;
    
    width: 1132px;
    height: 254px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 134px;
}

.cont-1{
    display: flex;
    flex-direction: row;
}

.pic-1{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 76px;
}

.name-1{
    color: #EA512E;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    margin-top: 27px;
    margin-left: 60px;
}

.edu-1{
    margin-left: 60px;
    margin-top: 38px;
    color: #1B0238;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.5px; /* 112.963% */
    text-transform: capitalize;
}




.teacher-2{
   
    display: flex;
    flex-direction: column;
    
    width: 1132px;
    height: 254px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 134px;
}

.desc-2{
    display: flex;
    flex-direction: column;
}

.cont-2{
    display: flex;
    flex-direction: row;
}

.pic-2{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 76px;
}

.name-2{

    color: #EA512E;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    margin-top: 27px;
    margin-left: 665px;
}

.edu-2{
    margin-left: 60px;
    margin-top: 42px;
    color: #1B0238;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.5px; /* 112.963% */
    text-transform: capitalize;
}


.teacher-3{
   
    display: flex;
    flex-direction: column;
    
    width: 1132px;
    height: 254px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 134px;
}

.cont-3{
    display: flex;
    flex-direction: row;
}

.pic-3{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 76px;
}

.name-3{
    color: #EA512E;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    margin-top: 27px;
    margin-left: 60px;
}

.edu-3{
    margin-left: 60px;
    margin-top: 31px;
    color: #1B0238;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.5px; /* 112.963% */
    text-transform: capitalize;
}



.teacher-4{
   
    display: flex;
    flex-direction: column;
    
    width: 1132px;
    height: 254px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 134px;
}

.desc-4{
    display: flex;
    flex-direction: column;
}

.cont-4{
    display: flex;
    flex-direction: row;
}

.pic-4{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 76px;
}

.name-4{

    color: #EA512E;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    margin-top: 27px;
    margin-left: 640px;
}

.edu-4{
    margin-left: 60px;
    margin-top: 48px;
    color: #1B0238;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.5px; /* 112.963% */
    text-transform: capitalize;
}


.teacher-5{
   
    display: flex;
    flex-direction: column;
    
    width: 1132px;
    height: 254px;
    flex-shrink: 0;
    margin: auto;
    margin-top: 134px;
}

.cont-5{
    display: flex;
    flex-direction: row;
}

.pic-5{
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 27px;
    margin-left: 76px;
}

.name-5{
    color: #EA512E;
    font-family: 'Boogaloo', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 42.5px; /* 106.25% */
    text-transform: capitalize;
    margin-top: 27px;
    margin-left: 60px;
}

.edu-5{
    margin-left: 60px;
    margin-top: 22px;
    color: #1B0238;
    text-align: justify;
    font-family: 'Varela Round', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.5px; /* 112.963% */
    text-transform: capitalize;
}


@media only screen and (max-width: 430px){

    *{
        margin-top: 0px;
        margin-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        
    }

    .t-container{
        margin-top: 100px ;
        width: 390px;
    } 

    .t-top{
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .t-top img{
        display: none;
    }
    .co-founders{
        justify-content: center;
        align-items: center;
    }

    .co-1 {
        margin-right: 0px;
        justify-content: center;
        align-items: center;
    }
    .co-2 {
        margin-left: 0px;
        justify-content: center;
        align-items: center;
    }

    .co-1 img{
        width: 150px;
    }
    .co-2 img{
        width: 150px;
    }

    .co-1 span{
        
        font-size: 24px;
        line-height: 30px;
    }
    .co-2 span{
        
        font-size: 24px;
        line-height: 30px;
    }

    .co-founders{
        width: 100%;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
    }

    .description-co span{
        
        font-size: 16px;
        width: 350px;
        text-align: justify;
        line-height: 30px;
        justify-content: center;
        align-items: center;

    }

    .description-co{
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        align-items: center;
    }

    .cont-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;

    }

    .edu-1{
        width: 280px;
    }

    .cont-2{
        display: flex;
        flex-direction: column-reverse;
        width: 280px;
    }

    .edu-2{
        width: 280px;
    }

    .cont-3{
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .edu-3{
        width: 280px;
    }

    .cont-4{
        display: flex;
        flex-direction: column-reverse;
        width: 280px;
    }

    
    .edu-4{
        width: 280px;
    }

    .cont-5{
        display: flex;
        flex-direction: column;
        width: 280px;
    }

    .edu-1{
        margin-top: 20px;
        margin-left: 70px;
        font-size: 14px !important;
    }

    .desc-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .teacher-1{
        margin-bottom: 80px;
    }
    .teacher-2{
        margin-bottom: 80px;
    }
    .teacher-3{
        margin-bottom: 80px;
    }
    .teacher-4{
        margin-bottom: 80px;
    }
    .teacher-5{
        margin-bottom: 80px;
    }


    .edu-2{
        margin-top: 20px;
        margin-left: 70px;
        font-size: 14px !important;
    }

    .desc-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-2{
        
        margin: 0;
        margin-top: 30px;
    }

    .edu-3{
        margin-top: 20px;
        margin-left: 70px;
        font-size: 14px !important;
    }

    .desc-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }


    .edu-4{
        margin-top: 20px;
        margin-left: 70px;
        font-size: 14px !important;
    }

    .desc-4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-4{
        
        margin: 0;
        margin-top: 30px;
    }

    
    .edu-5{
        
        height: auto;
        margin: 0;
        margin-top: 20px;
        font-size: 14px !important;
        margin-left: 20px;
    }

    .desc-5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .name-5{
        
        margin: 0;
        margin-top: 30px;
        margin-left: 20px;
       
    }

    .name-3{
        
        margin: 0;
        margin-top: 30px;
    }
    .name-1{
        
        margin: 0;
        margin-top: 30px;
        margin-left: 60px;
    }
    


    

}
